@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&family=Sniglet&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pixelify Sans', cursive;
}

.icon {
  color: #61567d;
  filter: drop-shadow(#473080 -3px 4px);
}

.sombra {
  filter: drop-shadow(#4730809a -7px 7px);
}

.colorDefault {
  color: #61567d;
}

.noScroll::-webkit-scrollbar {
  display: none;
}

/* audio */

audio {
  width: 400px;
  height: 30px;

}



audio::-webkit-media-controls-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  -webkit-user-select: none;
  position: relative;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  text-align: right;
  bottom: auto;
  height: 30px;
  background-color: #4730809a;
  transition: opacity 0.3s;
}

/* SoundWave */
.box {
  transform: scaleY(.4);
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.box1 {
  animation-name: quiet;
}

.box2 {
  animation-name: normal;
}

.box3 {
  animation-name: quiet;
}

.box4 {
  animation-name: loud;
}

.box5 {
  animation-name: quiet;
}

@keyframes quiet {
  25% {
    transform: scaleY(.6);
  }

  50% {
    transform: scaleY(.4);
  }

  75% {
    transform: scaleY(.8);
  }
}

@keyframes normal {
  25% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(.4);
  }

  75% {
    transform: scaleY(.6);
  }
}

@keyframes loud {
  25% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(.4);
  }

  75% {
    transform: scaleY(1.2);
  }
}

.movingToLeft {
  animation: moveToLeft 30s linear infinite;
}

@keyframes moveToLeft {
  from {
    left: -100%;
  }

  to {
    left: 100%;
  }
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #af7fc2;
}

*::-webkit-scrollbar-track:hover {
  background-color: #61567d;
}

*::-webkit-scrollbar-track:active {
  background-color: #61567d;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #61567d;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #af7fc2;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #af7fc2;
}

/* ---------------------------------------------- */

.progressBar {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  /* Cor de fundo da barra de progresso */
  border-radius: 5px;
  outline: none;
  /* Remove o contorno padrão */
  padding: 0;
  position: relative;
}

.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  /* Largura do thumb */
  height: 15px;
  /* Altura do thumb */
  border-radius: 50%;
  /* Deixa o thumb redondo */
  background: #af7fc2;
  /* Cor do thumb */
  cursor: pointer;
  position: relative;
}

.player {
  left: -100%;
}

.toRight {

  animation: to-right 300ms ease-in-out forwards !important;
}

@keyframes to-right {
  from {

    left: -100%;
  }

  to {

    left: 1rem;
  }
}